* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}


body{
outline: 3px solid red;
max-width: 1440px;
margin: 0 auto;
width: 100%;
display: grid;
grid-template-rows: 1fr 1fr; 
height: 100vh; 
}

section {
outline: 3px solid red;
background-color: lightblue;
width: 100%;
height:100%;
}
